*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  background: #080808;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

header {
  display: flex;
  justify-content: center;

  .title {
    width: 220px;
    height: 50px;
    background: url('./images/sprite.png') no-repeat;
    background-position: 0px -4px;
  }
}

canvas {
  display: block;
  background: url('./images/bkg.png') repeat;
  border: 2px solid #f81858;
  border-bottom: transparent;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}
