:root {
  color-scheme: light dark;
  --green: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #323437;
  --gray: #999;
  --text-color: #d1d0c5;
  --border-radius: 0.5rem;
}

body {
  min-height: 100vh;
  max-width: 1024px;
  font-family: Menlo, monospace;
  background: var(--black);
  margin: auto;
  user-select: none;
}

.header {
  display: flex;
  gap: 0.5rem;
  padding-top: 32px;
  margin-bottom: 16px;
}

.header .title {
  color: var(--text-color);
}

.header .logo {
  width: 2.5rem;
  fill: var(--yellow);
}

#config {
  display: flex;
  justify-content: space-around;
  max-width: 320px;
  margin: auto;
  background: #2c2e31;
  border-radius: var(--border-radius);
  padding: 8px;
}

#config button {
  background: 0 0;
  cursor: pointer;
  border: none;
  transition: color 0.125s;
}

#config button.active {
  color: var(--yellow);
  font-weight: bold;
}

#config .time {
  display: flex;
  color: var(--yellow);
}

#config .time .clock {
  margin-right: 4px;
}

#config .time-value {
  color: #646669;
}

#config .time-value:hover {
  color: var(--text-color);
}

#config .divider {
  height: auto;
  width: 0.5em;
  border-radius: 0.25rem;
  background: var(--black);
}

#game {
  display: grid;
  font-size: 24px;
  margin-top: 64px;
}

#game time {
  color: var(--yellow);
  padding-left: 6px;
}

#game input {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

#game .words {
  display: flex;
  flex-wrap: wrap;
}

#game .words monkey-word {
  color: var(--text-color);
  margin: 0.25em 0.3em;
  line-height: 32px;
}

#game .words monkey-letter {
  position: relative;
  color: var(--gray);
}

#game .words monkey-letter {
  &.active::before {
    position: absolute;
    left: -65%;
    content: '|';
    color: var(--yellow);
    animation: 1s blink infinite ease-in-out;
  }

  &.correct {
    color: var(--green);
  }

  &.incorrect {
    color: var(--red);
  }

  &.active.is-last::before {
    left: 65%;
  }
}

@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}
